<svelte:head>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/yeti/bootstrap.min.css">
</svelte:head>

<script>
    import { Navbar, NavLink, NavbarBrand } from 'sveltestrap';
</script>

<Navbar color="light" light expand="md">
    <NavbarBrand href="/">Visual Data Analysis Lab</NavbarBrand>
    <NavLink href="/api/datapoints.json">Datapoints</NavLink>
    <NavLink href="/">Home</NavLink>
    <NavLink href="/scatter">Scatter</NavLink>
    <NavLink href="/about">About</NavLink>
</Navbar>

<slot></slot>