<!-- based on https://dev.to/learners/make-a-scatter-plot-with-svelte-and-d3-56md -->
<!-- NOTE: if left margin not big enough, set dimensions.left -->

<script>
    import Axis from './Axis.svelte'
    import Brush from './Brush.svelte'
    import { scaleLinear } from 'd3-scale';
    import * as d3 from 'd3';
    import { Card } from 'sveltestrap';
    import { selected_datapoints } from '../store'

    export let datapoints = {};
    export let x,y;
    export let dimensions = {
        width: 400,
        height: 400,
        top: 10,
        bottom: 30,
        left: 30,
        right: 10
    }

    let my_id = Math.random().toString(36).substring(7)

    $: x_extent = d3.extent(Object.values(datapoints).map((d) => { return d[x]}))
    $: y_extent = d3.extent(Object.values(datapoints).map((d) => { return d[y]}))
    $: xScale = scaleLinear().domain(x_extent).range([dimensions.left,dimensions.width-dimensions.right])
    $: yScale = scaleLinear().domain(y_extent).range([dimensions.height-dimensions.bottom,dimensions.top])

    $: checkIfSelected = (d) => {
        if ( $selected_datapoints.indexOf(d) != -1 ) {
            return true
        } else {
            return false
        }
    }
</script>

<style>
    circle {
        fill: steelblue;
        fill-opacity: 0.2;
    }
    circle.selected {
        fill: red;
    }
</style>

<Card body>
<h1>Scatterplot</h1>
<svg width={dimensions.width} height={dimensions.height} id={my_id}>
    <Axis dimensions={dimensions} scale={xScale} position="bottom" />
    <Axis dimensions={dimensions} scale={yScale} position="left" />

    {#each Object.values(datapoints) as datapoint}
        <circle cx={xScale(datapoint[x])} cy={yScale(datapoint[y])} r=5 class:selected={checkIfSelected(datapoint.id)}/>
    {/each}

    <Brush
        my_id={my_id}
        datapoints={datapoints}
        x={x}
        y={y}
        xScale={xScale}
        yScale={yScale}
        dimensions={dimensions}
        on:dblclick={() => $selected_datapoints = []} />
</svg>
</Card>
